# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IdeaProjects\mybatis_day03_one2many\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
